<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Kumar+One&family=Shippori+Antique&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>my_study_app</title>
	<style>
		[v-cloak] {
			display:none;
		}
		.container {
			width: 700px;
		}
		.time_cols {
			width: 350px;
		}
		.time_Font {
			font-size: 5rem;
			font-family: 'Kumar One', cursive;
		}
		.title_Font {
			font-size: 2rem;
			font-family: 'Shippori Antique', sans-serif;
		}
	</style>
</head>
<body>
	<div id="app">
		<v-app>
			<v-container class="d-flex justify-center align-center container">
				<v-row>
					<v-col class="d-flex justify-center flex-column align-center time_cols">
						<!-- 現在時刻 -->
						<p v-cloak class="time_Font" style="width: 350px; margin: 0;">{{ time }}</p>
						<!-- 本日の日付 -->
						<p class="title_Font mt-n10" style="width: 350px; margin: 0; padding-top: 10px;">{{today}}</p>
					</v-col>
					<v-col class="d-flex flex-column align-center" style="width: 300px;">
						<!-- カウントダウンタイマー -->
						<v-card  max-width="285" variant="outlined">
							<v-list-item two-line>
								<v-list-item-content>
									<v-list-item-title class="text-h5 mb-3">CountdownTimer</v-list-item-title>
									<v-list-item-subtitle class="text-h3">
										<input type="time" step="1" v-model="cTime">
									</v-list-item-subtitle>
								</v-list-item-content>
							</v-list-item>
							<v-card-actions>
								<v-btn outlined text v-if="isTimerStopped" @click="startTimer()">Start</v-btn>
								<v-btn  outlined text v-else @click="stopTimer()">Stop</v-btn>
								<v-btn outlined text @click="resetTimer()">Reset</v-btn>
							</v-card-actions>
						</v-card>
						<div>
							<v-dialog v-model="dialog" width="300">
								<v-card>
									<v-card-title class="justify-center text-h5">
										Time is up !
									</v-card-title>
									<v-card-actions>
										<v-btn outlined class="mx-auto" @click="dialog = false">Close</v-btn>
									</v-card-actions>
								</v-card>
							</v-dialog>
						</div>
					</v-col>
				</v-row>				
			</v-container>
		</v-app>
	</div>
	  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

	<script>
		let app = new Vue({
			el: '#app',
			vuetify: new Vuetify(),
				data() {
					return {
						time: '',
						date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
						menu: false,
						initialTime: '00:00:00',
						cTime: '00:00:00',
						sec: 0,
						timerId: 0,
						isTimerStopped: true,
						dialog: false,
					}
				},
				mounted: function() {
					let timerID = setInterval(this.updateTime, 1000); 
				},
				methods: {
					updateTime: function() {
						let date = new Date();
						let Hour = date.getHours();
						let Min = this.zeroPadding(date.getMinutes(), 2);
						let Sec = this.zeroPadding(date.getSeconds(), 2);
						this.time = `${Hour}:${Min}:${Sec}`;
					},
					zeroPadding: function(num, len) {
						let zero = '';

						// 0の文字列を作成
						for(let i = 0; i < len; i++) {
							zero += '0';
						}

						// zeroの文字列と、数字を結合し、後ろ２文字を返す
						return (zero + num).slice(-len);
					},
					timeToSec(t) {
						const [h, m, s] = t.split(':').map(e => parseInt(e));
						if (s === undefined) return 0;
						return h * this.hourInSec + m * this.minInSec + s;
					},
					secToTime(s){
						return new Date(s * 1000).toISOString().slice(11, 19);
					},
					countDownInner(){
						this.sec--;
						this.cTime = this.secToTime(this.sec);
					},
					countDown(){
						this.timerId = setInterval(this.countDownInner, 1000);
					},
					startTimer(){
						this.sec = this.timeToSec(this.cTime);
						if (this.sec <= 0) return;
						this.isTimerStopped = false;
						this.countDown();
					},
					stopTimer(){
						clearInterval(this.timerId);
						this.isTimerStopped = true;
					},
					resetTimer(){
						this.stopTimer();
						this.cTime = this.initialTime;
					},
					timeAlert(){
						this.dialog = true;
					}
				},
				computed: {
					today: function () {
						let new_date = new Date();
						let Year = new_date.getFullYear();
						let Month = this.zeroPadding(new_date.getMonth()+1, 2);
						let date = this.zeroPadding(new_date.getDate(), 2);
						let dayOfWeek = new_date.getDay();
						let dayOfWeekStr = [ "Sunday", "Monday", "Tuesday", "Wednesday", "thursday", "Friday", "Saturday" ];
						return `${Year}/${Month}/${date}　${dayOfWeekStr[dayOfWeek]}`;
					},
					hourInSec() {
						return 3600;
					},
					minInSec() {
						return 60;
					}
				},
				watch: {
					sec() {
						if (!this.isTimerStopped && this.sec <= 0) {
							this.timeAlert();
							this.resetTimer();
						}
					}
				}
	})
	</script>
</body>
</html>